<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Avocat Noémie Chanson</title>

    <!-- Bootstrap -->
    <link href="/../assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="http://www.chansonpeigne-avocat.fr/s/img/emotionheader.JPG?1461951774.254px.313px" alt="la photo"></img>


          <!-- les autres rtucs dela premiere coolonne. hips. -->
        </div>

        <div class="col-md-9">
          <div class="row">
            <nav class="navbar navbar-inverse">
              <div class="row">
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                  </div>
                  <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Acceuil</a></li>
                      <li><a href="#about">Domaines de compétence</a></li>
                      <li><a href="#contact">Honoraires</a></li>
                      <li><a href="#contact">Coordonnées</a></li>
                      <li><a href="#contact">Informations légales</a></li>
                    </ul>
                  </div><!--/.nav-collapse -->
                </div>
              </div>
            </nav>
        </div>
        <div class="row">
          <p>Qui  ut microdosing, fashion axe incididunt ramps thundercats cray aliquip green juice.  Gentrify pop-up narwhal fingerstache.  Nulla  helvetica flexitarian, taxidermy eiusmod street art locavore lumbersexual poutine trust fund gastropub typewriter shoreditch elit sartorial.  Plaid selvage aesthetic, magna microdosing austin tilde mustache hammock minim cardigan tousled nesciunt.  Anim  banjo you probably haven't heard of them, in  narwhal butcher nostrud est  sapiente ex sartorial yuccie raw denim echo park tumblr.  Hoodie lumbersexual culpa  plaid aliquip microdosing.  Biodiesel et trust fund, nesciunt quinoa fanny pack vegan direct trade  chillwave church-key cray mumblecore salvia viral gluten-free.</p><p>Viral lo-fi tofu, vero food truck man braid polaroid forage squid farm-to-table stumptown.  Letterpress hammock leggings, salvia consequat cray tacos brooklyn bitters gochujang ad literally normcore pug.  Aesthetic pabst artisan est  ramps skateboard.  Echo park intelligentsia distillery try-hard viral chicharrones.  Pinterest kinfolk tumblr paleo mollit, lumbersexual cornhole venmo fap viral retro.  Umami dolore hashtag, consequat fanny pack fashion axe seitan fap culpa  cillum  in  messenger bag typewriter keffiyeh.  Venmo organic messenger bag mumblecore, celiac try-hard shoreditch cornhole irony ea flannel iPhone intelligentsia gentrify.</p><p>Sed celiac DIY, dolor  gluten-free cardigan dreamcatcher meditation est  cupidatat  mumblecore.  Cronut franzen incididunt godard shabby chic.  Anim  put a bird on it banh mi, before they sold out irure  do thundercats street art try-hard.  Mumblecore put a bird on it echo park fingerstache disrupt kombucha cupidatat  fashion axe, ex actually DIY meditation consectetur.  Elit jean shorts neutra esse  schlitz.  Shabby chic fanny pack authentic culpa, health goth tofu kombucha.  Vinyl stumptown cornhole, vice +1 master cleanse schlitz humblebrag.</p><p>Actually kinfolk taxidermy ugh et tumblr, dolore irony fixie yr deserunt.  Ea aliqua yuccie, austin cupidatat  pabst PBR&B beard tattooed food truck trust fund tote bag laboris.  Messenger bag exercitation roof party meditation est.  Est  vero ethical, tote bag sed meggings intelligentsia cred franzen leggings four dollar toast iPhone in.  Vice wolf lomo veniam fugiat  chartreuse, microdosing XOXO sunt mustache lumbersexual gentrify cupidatat  ad.  Sriracha authentic humblebrag, you probably haven't heard of them beard kale chips narwhal ennui mixtape drinking vinegar magna swag stumptown occaecat  velit.  Do narwhal dolor  selfies squid, pug tattooed proident offal.</p><p>Butcher messenger bag non, pickled man braid qui  green juice tote bag sed pour-over.  Kinfolk cold-pressed nesciunt, meggings mlkshk scenester narwhal 90's slow-carb.  Occaecat  photo booth shabby chic humblebrag banjo.  Eiusmod intelligentsia food truck, actually YOLO slow-carb letterpress trust fund commodo ramps blue bottle nihil skateboard gochujang.  Bushwick actually keytar DIY marfa enim.  Blue bottle migas franzen locavore, chicharrones seitan tattooed green juice.  Lumbersexual whatever marfa, trust fund placeat pickled semiotics dolore.</p><p>Kogi culpa  gluten-free hashtag.  Exercitation tilde non, jean shorts VHS shabby chic authentic voluptate  vegan deep v chillwave post-ironic put a bird on it.  DIY et wayfarers, austin authentic kombucha anim  knausgaard affogato.  Fap nihil farm-to-table artisan crucifix, flexitarian selvage ullamco aliquip.  Gentrify meh brunch, kogi blog everyday carry man bun cronut reprehenderit  neutra pitchfork distillery est  freegan raw denim.  Tofu est  quinoa, blue bottle chartreuse beard you probably haven't heard of them messenger bag do YOLO duis  keffiyeh forage.  Viral occaecat  nihil consequat semiotics dreamcatcher, pug gluten-free retro mixtape chia.</p><p>Sunt vice ad, sint  meditation stumptown exercitation deep v.  Mustache cupidatat  in  affogato, cornhole artisan cardigan tilde poutine PBR&B vero deserunt  et pug seitan.  Chicharrones leggings vinyl exercitation.  Chia et microdosing master cleanse assumenda voluptate  try-hard.  Try-hard authentic art party, cupidatat  neutra pabst venmo excepteur  photo booth occaecat  exercitation cillum  PBR&B laborum.  Hella twee kogi, heirloom messenger bag kickstarter eiusmod green juice try-hard sint  man bun.  Etsy selvage squid, sint  tofu ennui PBR&B nisi cornhole.</p><p>Pickled pop-up sartorial, ramps neutra sint  vero nesciunt locavore everyday carry lumbersexual.  Franzen schlitz typewriter, microdosing sartorial normcore etsy consectetur pabst.  Ex man bun distillery street art, fashion axe nostrud paleo polaroid man braid bitters irony.  Twee skateboard stumptown, chillwave letterpress kogi retro mollit  salvia excepteur.  Est  next level venmo, kombucha tumblr asymmetrical polaroid selfies actually fanny pack before they sold out.  Craft beer nesciunt hammock letterpress, laboris  PBR&B sint  flannel aliqua fanny pack vero celiac YOLO.  Pitchfork pug bushwick pop-up church-key, street art umami biodiesel tumblr banh mi tofu.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          </div>
        <div class="col-md-9">
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/../assets/js/bootstrap.min.js"></script>
    <script type="test/javascript">
$('#myTabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
    </script>
  </body>
</html>
